{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if request.user.is_authenticated %}

<div>
    <h2>User info</h2>
    <p>Name: </p><p>{{ user.username }}</p>
    <p>Email: </p><p>{{ user.email }}</p>
</div>
<div>
    <h3>{{ user.username }} stories:</h3>
    <ul>
        {% for story in user.stories.all%}
        <li>
            <a href="{% url 'news:story' story.id %}">{{story.title}}</a>
        </li>
        {% endfor%}
    </ul>

</div>

{% else %}
<h3>To see this page <a href="{% url 'login' %}">login</a> or <a href="{% url 'users:createAccount'%}">create account</a>
</h3>
{% endif %}
{% endblock %}