    {% extends "base.html" %}
    {% load static %}

    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
    {% endblock %}

    {% block content %}
    <div class="latest-news-header">
        <h2>{% if request.GET.order == 'oldfirst' %}Old{% else %}Latest{% endif %} News</h2>
        {% if request.user.is_authenticated %}
        <a href="{% url 'news:newStory' %}" class="new-story-btn">Write New Story</a>
        {% endif %}
    </div>
    <form method="GET" class="form-filter">
        <table>
            {{ form.as_div }}
        </table>
        <button type="submit">filter</button>
    </form>

    <!-- <div id="latest-stories">
        {% if latest_stories %}
            {% for story in latest_stories %}
                {% include './storyCard.html' with story=story position=forloop.counter %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div> -->

    <div id="all-stories" class="grid text-center">
        {% if all_stories %}
            {% for story in all_stories %}
                {% include './storyCard.html' with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

    {% endblock %}